/* https://isabella-theme.github.io/ */
body {
    --colorBlack: #101013;
    --colorBlue: #6bc6ef;
    --colorGreen: #77dd77;
    --colorPink: #f772ad;
    --colorPurple: #b19cd9;
    --colorRed: #be2a18;
    --colorWhite: #f7f7f7;
    --colorYellow: #fdfd96;
    --colorComment: #69696d;
    --colorAddition: #004700bd;
    --colorDeletion: #830d0dcc;
    --colorHl: #be4318;
    --colorHlFaded: #b18879;
    --colorHlFg: var(--colorWhite);
    --colorBg: #333335;
    --colorBgDarker: #232325;
    --colorBgFaded: #444445e8;
    --colorFg: #d1d1d1;
    --colorFgBolded: white;
    --colorFgFaded: #87878c;
    --colorFgFadedMore: #68686c;
    --colorAc: #101013;
    color: var(--colorFg);
    background-color: var(--colorBg);
}
/* globals */
a:focus,a:hover {color: var(--colorHl);}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,
.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,
h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,
h6 .small,h6 small {
    color: var(--colorFg);
}
/* header */
#vivaldiheader {background: var(--colorAc);}
#vivaldiheader #vivaldilogo img,#vivaldimenu a .sub-arrow {
    filter: grayscale(1) invert(100%);
}
#vivaldiheader a,#vivaldiheader a:active,
#vivaldiheader a:focus,#vivaldiheader a:visited {
    color: var(--colorFg);
}
#vivaldimenu a.current,#vivaldimenu a:hover {color: var(--colorHl);}
/* header drop downs */
#vivaldimenu ul {
    color: var(--colorFg);
    background: var(--colorBgDarker);
}
#vivaldimenu ul,#vivaldimenu ul li {border-color: var(--colorBgDarker)}
#vivaldimenu ul a:hover {background: var(--colorBgFaded);}
/* forum navigation */
#submenu {
    color: var(--colorFg);
    background-color: var(--colorAc);
    border-color: var(--colorAc);
}
#submenu a:focus,#submenu a:hover,#submenu li.active>a {
    color: var(--colorHl);
    background-color: var(--colorBg);
}
.unread-count:after {
    color: var(--colorHlFg);
    background: var(--colorHl);
    border-color: var(--colorHl);
}
/* content */
/* forum path */
.breadcrumb>.active,.breadcrumb>li+li:before {color: var(--colorFg);}
.posts-list .posts-list-item .topic-title,a {color: var(--colorHl);}
.categories>p,.category>p,.subcategory>p {color: var(--colorFgFaded);}
/* forum categories */
.categories>li:hover,.category>ul>li:hover {background-color: transparent;}
.categories-title {color: var(--colorFgFaded);}
.category>ul>li:not(.unread) h2 a {color: var(--colorFgFaded);}
.categories .description,.category .description,.subcategory .description {
    color: var(--colorFg);
}
.categories .category-children small,.category .category-children small,
.subcategory .category-children small {
    color: var(--colorFgFaded);
}
.category-children a small:hover {color: var(--colorHl);}
.category>ul>li .tag-list .tag {
    background: var(--colorBgDarker);
}
/* category stats */
.stats small {color: var(--colorFgFaded);}
/* last post teasers */
a.permalink,a.permalink:active,a.permalink:focus,a.permalink:hover {
    color: var(--colorFgFaded);
}
.categories>li .card,.category>ul>li .card {height: 60px;}
.categories>li .card p,.category>ul>li .card p {margin-bottom: 10px;}
/* footer */
#vivaldifooter a {color: var(--colorFg);}
/* menus,buttons,and modals */
.btn-primary,.btn-default {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.btn-primary:hover,.btn-primary.active,.btn-primary.focus,.btn-primary:active,
.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary,
.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,
.btn-default:hover,.open>.dropdown-toggle.btn-default {
    color: var(--colorFg);
    background-color: var(--colorBgFaded);
    border-color: var(--colorBgFaded);
}
.dropdown-menu {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.dropdown-menu>li>a {color: var(--colorFg);}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {color: var(--colorFg);}
.dropdown-menu .divider {background-color: var(--colorBg);}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: var(--colorBgDarker);
}
.header .notif-dropdown-link {border-color: var(--colorBg);}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    background-color: var(--colorBgFaded);
}
.header .chat-list,.slideout-menu .chat-list {color: var(--colorFg);}
.chats-list>li .avatar-placeholder {background: var(--colorBg);}
.chats-list,.header .chat-list>li:not(:last-child),
.slideout-menu .chat-list>li:not(:last-child) {
    border-color: var(--colorBg);
}
.header .chat-list>li:hover,.slideout-menu .chat-list>li:hover {
    background: var(--colorBgFaded);
}
.chats-list>li {border-color: var(--colorBg);}
.pagination>li>a,.pagination>li>span,.pagination>.disabled>a,
.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,
.pagination>.disabled>span,.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,
.pagination>li>span:hover {
    color: var(--colorFg);
    background-color: var(--colorBgFaded);
    border-color: var(--colorBgFaded);
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,
.pagination>.active>span,.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: var(--colorHlFg);
    background-color: var(--colorHl);
    border-color: var(--colorHl);
}
