/* https://isabella-theme.github.io/ */
body {
    --colorBlack: #101013;
    --colorBlue: #6bc6ef;
    --colorGreen: #77dd77;
    --colorPink: #f772ad;
    --colorPurple: #b19cd9;
    --colorRed: #be2a18;
    --colorWhite: #f7f7f7;
    --colorYellow: #fdfd96;
    --colorComment: #69696d;
    --colorAddition: #004700bd;
    --colorDeletion: #830d0dcc;
    --colorHl: #be4318;
    --colorHlFaded: #b18879;
    --colorHlFg: var(--colorWhite);
    --colorBg: #333335;
    --colorBgDarker: #232325;
    --colorBgFaded: #444445e8;
    --colorFg: #d1d1d1;
    --colorFgBolded: white;
    --colorFgFaded: #87878c;
    --colorFgFadedMore: #68686c;
    --colorAc: #101013;
    color: var(--colorFg);
    background-color: var(--colorBg);
}
/* header */
#vivaldiheader {background: var(--colorAc);}
#vivaldiheader #vivaldilogo img,#vivaldimenu a .sub-arrow {
    filter: grayscale(1) invert(100%);
}
#vivaldiheader a,#vivaldiheader a:active,
#vivaldiheader a:focus,#vivaldiheader a:visited {
    color: var(--colorFg);
}
#vivaldimenu a.current,#vivaldimenu a:hover {color: var(--colorHl);}
/* header drop downs */
#vivaldimenu ul {
    color: var(--colorFg);
    background: var(--colorBgDarker);
}
#vivaldimenu ul,#vivaldimenu ul li {border-color: var(--colorBgDarker)}
#vivaldimenu ul a:hover {background: var(--colorBgFaded);}
/* menus and modals */
.dropdown-menu {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.dropdown-menu .divider {background-color: var(--colorBg);}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: var(--colorBgDarker);
}
.header .notif-dropdown-link {border-color: var(--colorBg);}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    background-color: var(--colorBgFaded);
}
.header .chat-list,.slideout-menu .chat-list {color: var(--colorFg);}
.chats-list,.header .chat-list>li:not(:last-child),
.slideout-menu .chat-list>li:not(:last-child) {
    border-color: var(--colorBg);
}
.header .chat-list>li:hover,.slideout-menu .chat-list>li:hover {
    background: var(--colorBgFaded);
}
.chats-list>li {border-color: var(--colorBg);}
